/* 
import './styles/App.css'; 
*/


.app {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}


.LeftPanelBase {
  flex-direction: column;
  width: 30%;
  min-height: 100vh;
  background: rgba(0, 102, 102);
  margin-right: 1px;
}

.Hanabar {
  border: 2px solid black; 
}

.RightPanelBase {
  width: 70%;
  min-height: 100vh;
  background: rgba(0, 102, 102);
  margin-left: 1px;
  flex-direction: column;
}

.WorkIndexHeader {
  text-align: center;
  margin: auto;
  border: 1px solid red;
}

.TableContainer {
  
}

.ProjectObjectTableHeader {
  display: flex;
  justify-content: space-around;
  border: 2px solid green;
}

.ProjectObject {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tileH {
  display: inline;
  font-weight: bold;
  text-decoration: underline;
}

.tile {
  display: inline;
}