/* 
import './styles/App.css'; 
*/

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  background: rgba(51, 212, 86, 0.687);
}


.LeftPanelBase {
  background: rgba(4, 59, 177, 0.687);
  
}

.RightPanelBase {
  background: rgba(157, 58, 73, 0.687);
}
