/* 
import './styles/App.css'; 
*/

.app {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgba(38, 189, 30, 0.2);
}

.RightPanelBase {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgba(38, 189, 30, 0.2);
}


.LeftPanelBase {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgba(4, 59, 177, 0.687);
}